<!-- Display errors in red if form didn't go through  -->

<%= render 'shared/check_error', obj: @post %>

<!-- Model-backed Form -->
<div class = 'well'>
  <%= form_for @post do |f| %>
  <div class = 'control-group'>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>  
  <div class = 'control-group'>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <div class = 'control-group'> 
    <%= f.label :description %>
    <%= f.text_area :description, rows: 3 %>
  </div>
  <div class = 'control-group'>
    <%= f.label "Categories" %>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |box| %>
      <% box.label(class: "checkbox inline") {box.check_box(class: "checkbox") + box.text} %>
      <% end %>

  </div>




  <%= f.submit submit_button, class: 'btn btn-primary' %>
  <% end %>
</div>