<% if logged_in? %>
  <p class ='pull-right'>
    [<%= link_to 'edit this post', edit_post_path(@post) %>]
  </p>
<% end %>



<p><%= render @post.categories %></p>

<%= render 'shared/content_title', title: @post.title %>
<%= render 'shared/check_error', obj: @comment %>
<p><%= @post.description %><hr></p>

<% if logged_in? %>
  <p>
    <%= form_for [@post, @comment] do |f| %>
      <div class = 'control-group'>
        <%= f.label :body, "Leave a Comment:" %>
        <%= f.text_area :body, rows:3, class: 'span4' %><br>
      </div>
      <%= f.submit "Submit", class: 'btn btn-primary' %>
    <% end %>
  <hr>
  </p>
<% end %>


<hr>
<h5>Comments:</h5>
<% @comments.each do |comment| %>
<%= render '/comments/comment', comment: comment %>
<% end %>