<% header = link_to('All Posts', posts_path) + " &raquo; #{@category.name}".html_safe  %>

<%= render 'shared/content_title', title: header %>

<!-- <h4>Active (<%= @category.posts.where(archive:false).size %>)</h4>
<br><br>
<% @category.posts.where(archive:false).sort_by{|x| x.total_votes}.reverse.each do |post| %>
<%= render 'posts/post', post: post %>
<% end %>

<h4>Archived (<%= @category.posts.where(archive:true).size %>)</h4>
<br><br>
<% @category.posts.where(archive:true).sort_by{|x| x.total_votes}.reverse.each do |post| %>
<%= render 'posts/post', post: post %>
<% end %> -->

<ul class='nav nav-tabs'>
  <li class='<%= 'active' if params[:tab].nil? %> colored_link'>
    <%= link_to "Active (#{@category.posts.where(archive:false).size})", category_path(@category) %>
  </li>
  <li class='<%= 'active' if params[:tab] == 'archived' %> colored_link'>
    <%= link_to "Archived (#{@category.posts.where(archive:true).size})", category_path(@category, tab: 'archived') %>
  </li>
</ul>

<% if params[:tab].nil? %>
<% @category.posts.where(archive:false).sort_by{|x| x.total_votes}.reverse.each do |post| %>
<%= render 'posts/post', post: post %>
  <% end %>
<% elsif params[:tab] == 'archived' %>
<% @category.posts.where(archive:true).sort_by{|x| x.total_votes}.reverse.each do |post| %>
<%= render 'posts/post', post: post %>
  <% end %>
<% end %>