<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekend Planner</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Arimo", :media => "all" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>

     
    <!-- This div is used to indicate the original position of the scrollable fixed div. -->
    <div><a href="<%=root_path%>"><img src="http://i.imgur.com/I9sRZl3.png"></a></div>
    <div class="scroller_anchor"></div>
     
    <!-- This div will be displayed as fixed bar at the top of the page, when user scrolls -->

    <div class="scroller"><a href="<%=root_path%>"><img src="http://i.imgur.com/d8W458N.png" title="weekend planner" /></a></div>
</div>
  <body>

    <header>
      <div id="nav-wrapper">
    <div id="nav" class="navbar">
<!--       <div class="navbar affix-top" data-spy="affix"> -->
        <div class="navbar-inner">
          <div class="container">
            <%= render 'layouts/navigation' %>
          </div>
        </div>
        </div>
      </div>
    </header>
    <div id="main" role="main">
      <div class="container">
         <div class="row">
          <div class="span12">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
        </div>
        <footer>
        </footer>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
